.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}
.vtex-store-components-3-x-container {
  margin-left: 30px;
  margin-right: 30px;
}
.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

:global(.vtex-product-highlights-2-x-productHighlightText){
  padding-top: 3px;
  color:#E30A1D;
  background-color: #ffffff;
  border-radius: 6px;

}

:global(.vtex-product-summary-2-x-element)
  :global(.vtex-button){
    border-radius: 0%;
}
:global(.vtex-product-summary-2-x-element)
  :global(.vtex-button)
    :global(.vtex-button__label){
    font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowimgenvio)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 12%;
    justify-content: flex-end;
    position:absolute;
    z-index: 100;
}